API_URL=
DATABASE_URL=
COOKIE_DOMAIN=localhost
FRONTEND_URL=http://localhost:80
DEV_MODE=false

# Google OAuth2
GOOGLE_CLEINT_ID=
GOOGLE_CLIENT_SECRET=

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Minio
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ENDPOINT=s3:9000
MINIO_ACCESS_KEY_ID=
MINIO_SECRET_ACCESS_KEY=
MINIO_USE_SSL=false
MINIO_BUCKET=
